*{
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #ebebeb;
    box-shadow: 10jpx 0px 25px rgba(0, 0, 0, 0.5);
}

.header .nav {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}

.header .nav .logoAria {
    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.header .nav .itemAria {
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav .itemAria .navItems {
    width: 45%;
    list-style: none;
    margin-top: 8px;
}

.header .nav .itemAria .navItems li {
    text-decoration: none;
    float: left;
    
    margin-left: 30px;
}

.header .nav .itemAria .navItems li a {
    text-decoration: none;
    color: rgb(14, 84, 150);

}

.header .nav .itemAria .searchbtnAria {
    width: 55%;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.header .nav .itemAria .searchbtnAria .searchAria input {
    width: 300px;
    height: 35px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 6px;
}

.header .nav .itemAria .searchbtnAria .btnAria .signupBtn {
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    border-radius: 10px;
    background-color: #001aff;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.header .nav .itemAria .searchbtnAria .btnAria {
    margin-top: -4px;
}

.header .nav .itemAria .searchbtnAria .btnAria .LoginBtn {
    border: 1px solid #001aff;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}
